{
  "routerTag": "app",
  "tag": "index-template",
  "className": "IndexTemplate",
  "path": "/",
  "basePath": "templates",
  "template": "tpls/index.html",
  "mainStyles": ["scss/main.scss", "css/bootstrap-material-design.css"]
}
