{
  "routerTag": "app",
  "tag": "news-template",
  "className": "NewsTemplate",
  "path": "/news",
  "basePath": "templates",
  "template": "tpls/news.html",
  "mainStyles": ["scss/main.scss", "css/bootstrap-material-design.css"],
  "js": "js/news.js"
}
