<link href="templates/css/main.css" rel="stylesheet" type="text/css"><link href="templates/css/bootstrap-material-design.css" rel="stylesheet" type="text/css">
<div class="container-fluid">
  <form id="newComponentForm">
    <!-- write element with index 1 -->
<div class="form-group">
  <label for="addFormComponentName">Component name:</label>
  <input is = "input-text" type = "text" class = "form-control" id = "addFormComponentName" name = "component_name" placeholder = "Enter component name"/>
</div>
<!-- end write element -->
<!-- write element with index 2 -->
<div class="form-group">
  <label for="addFormComponentTag">Component tag:</label>
  <input is = "input-text" type = "text" class = "form-control" id = "addFormComponentTag" name = "component_tag" placeholder = "Enter component tag"/>
</div>
<!-- end write element -->
<!-- write element with index 3 -->
<div class="form-group">
  <label for="addFormComponentScssPath">Component scss path:</label>
  <input is = "input-text" type = "text" class = "form-control" id = "addFormComponentScssPath" name = "component_scss_path" placeholder = "Enter component scss path"/>
</div>
<!-- end write element -->
<!-- write element with index 4 -->
<div class="form-group">
  <label for="addFormComponentJSPath">Component js path:</label>
  <input is = "input-text" type = "text" class = "form-control" id = "addFormComponentJSPath" name = "component_js_path" placeholder = "Enter component js path"/>
</div>
<!-- end write element -->
<!-- write element with index 5 -->
<div class="form-group">
  <label for="addFormComponentTemplatePath">Component template path:</label>
  <input is = "input-text" type = "text" class = "form-control" id = "addFormComponentTemplatePath" name = "component_template_path" placeholder = "Enter component template path"/>
</div>
<!-- end write element -->

    <button type="submit" class="btn btn-primary" id="submitButton">Submit</button>
  </form>
</div>
