<link href="templates/css/main.css" rel="stylesheet" type="text/css"><link href="templates/css/bootstrap-material-design.css" rel="stylesheet" type="text/css">
<div class="container-fluid">
  <form is="form-element" id="addNewForm">
    <!-- write element with index 1 -->
<div class="form-group">
    <label for="addNew">Notícia:</label>
    <input is = "input-text" type = "text" class = "form-control" id = "addNew" name = "new" placeholder = "Entra la notícia"/>
  </div>
  <!-- end write element -->
  <!-- write element with index 2 -->
  <div class="form-group">
    <label for="addNewSummary">Resum de la notícia:</label>
    <input is = "input-text" type = "text" class = "form-control" id = "addNewSummary" name = "summary" placeholder = "Entra el resum de la notícia"/>
  </div>
  <!-- end write element -->
  <!-- write element with index 3 -->
  <div class="form-group">
    <label for="addNewImages">Imatges de la notícia:</label>
    <input is = "input-file" type = "file" class = "form-control-file" id = "addNewImages" name = "images" placeholder = "Entra les imatges de la noticia"/>
  </div>
  <!-- end write element -->

    <button type="submit" class="btn btn-primary" id="submitButton">Submit</button>
  </form>
</div>
