:host {
	color: #333333;
	display: inline-block;
	background: url('../images/unchecked-checkbox.svg') no-repeat;
	background-size: contain;
	width: 40px;
	height: 40px;
  }
  :host([hidden]) {
	display: none;
  }
  :host([checked]) {
	background: url('../images/checked-checkbox.svg') no-repeat;
	background-size: contain;
  }
